@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');

body{background-color: #f7eee2;}

/* sidemenu */
      *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
        font-family: bebas neue;
      }
      
      .flexmenu{
        display: flex;
        position: relative;
      }
      
      .flexmenu .sidemenu{
        width: 200px;
        height: 100%;
        background: #cfc1af;
        padding: 30px 0px;
        position: fixed;
      }
      
      .flexmenu .sidemenu ul li{
        padding: 15px;
        border-bottom: 1px solid #bdb8d7;
        border-bottom: 1px solid rgba(0,0,0,0.05);
        border-top: 1px solid rgba(255,255,255,0.05);
      }    
      
      .flexmenu .sidemenu ul li a{
        color: #2f2f2f;
        display: block;
        font-size: 20px;
      }
      
      .flexmenu .sidemenu ul li a .fas{
        width: 25px;
      }
      
      .flexmenu .sidemenu ul li:hover{
        background-color: #f7eee2;
      }
          
      .flexmenu .sidemenu ul li:hover a{
        color: #2f2f2f;
      }
       
      .flexmenu .sidemenu .social_media{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
      }
      
      .flexmenu .sidemenu .social_media a{
        display: block;
        width: 40px;
        height: 40px;
        line-height: 45px;
        text-align: center;
        margin: 0 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      
      @media (max-height: 500px){
        .social_media{
          display: none;
        }
      }

.logo{width: 100%;
    margin-top: -10px;
}

.icon{
    height: 30px;
    margin-top: 5px;
}

h1{
    margin-top: 20px;
    margin-left: 50%;
    margin-right: -200px;
    font-family: bebas neue;
    font-size: 40px;
    color: #2f2f2f;
}


/* Kontakt side */
.hjerni{
    width: 500px;
    height: auto;
    margin-top: 10px;
    margin-right: 20px;
}

aside{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: -300px;            
}


#my_form{
  margin-top: 120px;
}

#m{
  font-family: Spartan;
  background-color:#cfc1af;
  padding: 10px 15px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  margin: 5px;
  border: #cfc1af;
  width: 200px;
  max-width: 200px;
  max-height: 200px;
}

#e{
  font-family: Spartan;
  background-color:#cfc1af;
  padding: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  margin: 5px;
  border: #cfc1af;
  width: 200px;
}

#n{
  font-family: Spartan;
  background-color:#cfc1af;
  padding: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  margin: 5px;
  border: #cfc1af;
  width: 200px;
}

#mybtn{
  font-family: Spartan;
  background-color: #f7eee2;
  padding: 8px 8px 8px 8px;
  border-radius: 10px 10px 10px 10px;
  margin-left: 5px;
  border: #cfc1af;
  border-style: solid;
}

#mybtn:hover{
  background-color: #cfc1af;
  cursor: pointer;
  color:#ffffff;
}


/* Kalender */
.kalender {
  display: flex;
  margin-left: 15%;
  top: 100px;
}

.reskald {
  padding-bottom: 60%;
  height: 0;
  overflow: hidden;
}


.reskald .kalender{
    position: absolute;
    top: 60px;
    left: 0;
    width: 80%;
    height: 80%;
  
}

#index-gallery {
  display: grid;
  grid-template-rows: auto;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px 30px;
  margin-top: 50px;
  margin-left: 250px;
  margin-right: 50px;
  grid-template-areas: 
  "gallery-p gallery-p gallery-p"
  "gallery-h2 gallery-h2 gallery-h2"
  "img1 img2 img3"
  "img4 img5 img6";

}

#index-gallery .gallery-img {
  background-repeat: no-repeat;
  height: 300px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

#index-gallery > div > img{
	opacity: 0.8;
	transition: 1s;
}

#index-gallery > div > img:hover{
	opacity: 1;
	transform: scale(1.1);
}

#index-gallery p {
  grid-area: gallery-p;
}

#index-gallery h2 {
  grid-area: gallery-h2;
}

#index-gallery .img1 {
  grid-area: img1;
  background-image: url(../img/14.png);
}

#index-gallery .img2 {
  grid-area: img2;
  background-image: url(../img/9.png);
}

#index-gallery .img3 {
  grid-area: img3;
  background-image: url(../img/8.png);
}

#index-gallery .img4 {
  grid-area: img4;
  background-image: url(../img/10.png);
}

#index-gallery .img5 {
  grid-area: img5;
  background-image: url(../img/11.png);
}

#index-gallery .img6 {
  grid-area: img6;
  background-image: url(../img/12.png);
}

.gallery-img div {
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-img a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.gallery-img div:hover {
  opacity: 0.8;
  transition: all ease-in-out 100ms;
}

/* popup vindue når man klikker */
.img-window {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.img-window img {
  max-height: 80vh;
  max-width: 80vw;

}

/* Næste billede */
.img-btn-next {
  display: block;
  padding: 6px 10px;
  margin-right: -150px;
  border-radius: 4px;
  background-color: black;
  position: fixed;
  top: 48vh;
  z-index: 500;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}

.img-btn-next:hover {
  opacity: 0.8;
}

.img-btn-prev {
  display: block;
  padding: 6px 10px;
  margin-left: -150px;
  border-radius: 4px;
  background-color: black;
  position: fixed;
  top: 48vh;
  z-index: 500;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}

.img-btn-prev:hover {
  opacity: 0.8;
}


form#multiphase{  border:#000 1px solid; padding:24px; width:350px; }
form#multiphase > #phase2, #phase3, #show_all_data{ display:none;  }

.indmelding{
  margin-left: 500px;
  margin-top: 100px;
}

/*slideshow til forside*/
.galleryContainer{
  width: 100%;
  height: 600px;
  max-width: 100%;
  margin-left: 200px;
  user-select: none;
  box-sizing: border-box;
}
.galleryContainer .slideShowContainer{
  width: 100%;
  height: 90%;
  overflow: hidden;
  position: relative;
}

.galleryContainer .slideShowContainer .imageHolder{
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}
.galleryContainer .slideShowContainer .imageHolder img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.galleryContainer .slideShowContainer .imageHolder .captionText{
  display: none;
}

.galleryContainer .slideShowContainer .leftArrow,.galleryContainer .slideShowContainer .rightArrow{
  width: 50px;
  background: #00000036;
  position: absolute;
  left: 0;
  z-index: 1;
  transition: background 1s;
  height: 72px;
  top: 50%;
  transform: translateY(-50%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.galleryContainer .slideShowContainer .rightArrow{
  left: auto;
  right: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.galleryContainer .slideShowContainer .leftArrow:hover,.galleryContainer .slideShowContainer .rightArrow:hover{
  background: #cfc1af;
  cursor: pointer;
}
.galleryContainer .arrow{
  display: inline-block;
  border: 3px solid white;
  width: 10px;
  height: 10px;
  border-left: none;
  border-bottom: none;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.galleryContainer .arrow.arrowLeft{
  transform: rotateZ(-135deg);
}
.galleryContainer .arrow.arrowRight{
  transform: rotateZ(45deg);
}


.galleryContainer .slideShowContainer>.captionTextHolder{
  position: absolute;
  bottom: 0;
  z-index: 1;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  width: 100%;
  background: #00000047;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
}
.galleryContainer .slideShowContainer>.captionTextHolder>.captionText{
  margin: 0;
}

.galleryContainer #dotsContainer{
  width: 100%;
  height: 10%;
  text-align: center;
  padding-top: 20px;
  box-sizing: border-box;
}
.galleryContainer #dotsContainer .dots{
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 5px;
  background-color: #bbb;
  cursor: pointer;
  transition:background-color 1s;
}
.galleryContainer #dotsContainer .dots:first-child{
  margin-left: 0;
}
.galleryContainer #dotsContainer .dots:hover,.galleryContainer #dotsContainer .dots.active{
  background-color: #717171;;
}




.galleryContainer .moveLeftCurrentSlide{
  animation-name: moveLeftCurrent;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode:forwards;

}
.galleryContainer .moveLeftNextSlide{
  animation-name: moveLeftNext;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode:forwards;
}
@keyframes moveLeftCurrent {
  from {margin-left: 0;opacity: 1;}
  to {margin-left: -100%;opacity: 1;}
}
@keyframes moveLeftNext {
  from {margin-left: 100%;opacity: 1;}
  to {margin-left: 0%;opacity: 1;}
}


.galleryContainer .moveRightCurrentSlide{
  animation-name: moveRightCurrent;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode:forwards;
}
.galleryContainer .moveRightPrevSlide{
  animation-name: moveRightPrev;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode:forwards;
}
@keyframes moveRightCurrent {
  from {margin-left: 0;opacity: 1;}
  to {margin-left: 100%;opacity: 1;}
}
@keyframes moveRightPrev {
  from {margin-left: -100%;opacity: 1;}
  to {margin-left: 0%;opacity: 1;}
}
.slideTextFromBottom {
  animation-name: slideTextFromBottom;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
@keyframes slideTextFromBottom {
  from {opacity: 0;margin-top: 100px}
  to {opacity: 1;margin-top: 0px;}
}
.slideTextFromTop {
  animation-name: slideTextFromTop;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
@keyframes slideTextFromTop {
  from {opacity: 0;margin-top: -100px}
  to {opacity: 1;margin-top: 0px;}
}